table.tp_tasktable {
    .caption h2 {
        font-weight: normal;
        border-bottom: none;
    }
    .percentage_indicator {
        display: inline-block;
        width: 30px;
    }
    .finish_indicator {
        display: none;
    }
    input[type=range].max + .percentage_indicator {
        display: none;
    }
    input[type=range].max + .percentage_indicator + .finish_indicator {
        display: inline-block;
        width: 30px;
    }
    tr.child > td:first-child {
        padding-left: 30px;
        a {
            .icon('before', 'arr_1right', 'clickable');
        }
    }
}
.tp_details_header {
    .percentage_indicator {
        display: inline-block;
        width: 30px;
    }
    .finish_indicator {
        display: none;
    }
    input[type=range].max + div > .percentage_indicator {
        display: none;
    }
    input[type=range].max + div > .finish_indicator {
        display: inline-block;
        width: 30px;
    }
}

ol.tp_discussion {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    > li.comment {
        margin-bottom: 10px;
        border: thin solid @base-color-60;
        padding: 10px;
        display: flex;
        > .avatar {
            width: 50px;
            height: 50px;
        }
        > .content {
            margin-left: 10px;
            width: 100%;
            .comment_text {
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .origin {
                color: @dark-gray-color-80;
                font-size: 0.8em;
            }
            .timestamp {
                float: right;
                color: @dark-gray-color-80;
                font-size: 0.8em;
            }
        }
    }
}

.tp_discussion_textarea {
    width: calc(100% - 10px);
    border: solid @base-color-60 1px;
    padding: 5px;
}